

//colors


$white: #FFFFFF; // White
$black: #000000; // Black

$gray1: #293234; // light gray	
$gray2: #404E53; // mid gray
$gray3: #C7CACB; // darker gray

$brand1: #0d475a; 
$brand2: #40798C;
$brand3: #70A9A1;
$brand4: #CFD7C7;
$brand5: #F6F1D1;


//transition styles

$transition-load: cubic-bezier(0.45, 0.1, 0.02, 1.04);