

//colors

$green: #82c31f;
$green_dark:#44820e;
$blue: #25afdf;
$blue_dark: #027baf;
$red:#ff446c;
$red_dark:#d23859;

$gray_heading:#484848;
$gray_body:#7c7c7c;
$gray_body_light:#bebebf;
$gray3:#e1e1e1;
$gray2:#f1f1f1;
$gray1:#fafafa;


$white: #FFFFFF; // White
$black: #000000; // Black



$gutter: 30px;
$border_radius:7.5px;